# Define a docker compose yaml file that initializes the server and workers
version: '3.7'

services:
  ps0:
    image: stmutasa/dtflow_test:cumc4
    network_mode: "host"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ../data:/app/data
    stdin_open: true
    tty: true
    command:
      ["python3", "Distributed2.py", "--ps_hosts=localhost:2222", "--worker_hosts=localhost:2223,localhost:2224", "--job_name=ps", "--task_index=0"]
    #["python3", "Distributed2.py", "--ps_hosts=192.168.0.8:2222", "--worker_hosts=192.168.0.8:2223,192.168.0.10:2224", "--job_name=ps", "--task_index=0"]

  # The first worker container
  worker0:
    image: stmutasa/dtflow_test:cumc4
    network_mode: "host"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    # Map the cwd to the container /dtflow_test folder
    volumes:
      - ../data:/app/data
    command:
      ["python3", "Distributed2.py", "--ps_hosts=localhost:2222", "--worker_hosts=localhost:2223,localhost:2224", "--job_name=worker", "--task_index=0"]
    #["python3", "Distributed2.py", "--ps_hosts=192.168.0.10:2222", "--worker_hosts=192.168.0.8:2223,192.168.0.10:2224", "--job_name=worker", "--task_index=0"]

  # The second worker container
  worker1:
    image: stmutasa/dtflow_test:cumc4
    network_mode: "host"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ../data:/app/data
    command:
      ["python3", "Distributed2.py", "--ps_hosts=localhost:2222", "--worker_hosts=localhost:2223,localhost:2224", "--job_name=worker", "--task_index=1"]
    #["python3", "Distributed2.py", "--ps_hosts=192.168.0.8:2222", "--worker_hosts=192.168.0.10:2223,192.168.0.8:2224", "--job_name=worker", "--task_index=1"]
